@model ProjectNet.Models.Chitiethoadon

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Chitiethoadon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IDHD" class="control-label"></label>
                <input asp-for="IDHD" class="form-control" />
                <span asp-validation-for="IDHD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDSP" class="control-label"></label>
                <input asp-for="IDSP" class="form-control" />
                <span asp-validation-for="IDSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SOLUONG" class="control-label"></label>
                <input asp-for="SOLUONG" class="form-control" />
                <span asp-validation-for="SOLUONG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DONGIA" class="control-label"></label>
                <input asp-for="DONGIA" class="form-control" />
                <span asp-validation-for="DONGIA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

