@model ProjectNet.Models.NhanVien

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NhanVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="MANV" class="control-label"></label>
                <input asp-for="MANV" class="form-control" />
                <span asp-validation-for="MANV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HOTEN" class="control-label"></label>
                <input asp-for="HOTEN" class="form-control" />
                <span asp-validation-for="HOTEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NGAYSINH" class="control-label"></label>
                <input asp-for="NGAYSINH" class="form-control" />
                <span asp-validation-for="NGAYSINH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DIACHI" class="control-label"></label>
                <input asp-for="DIACHI" class="form-control" />
                <span asp-validation-for="DIACHI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDT" class="control-label"></label>
                <input asp-for="SDT" class="form-control" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AVARTAR" class="control-label"></label>
                <input asp-for="AVARTAR" class="form-control" />
                <span asp-validation-for="AVARTAR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMAIL" class="control-label"></label>
                <input asp-for="EMAIL" class="form-control" />
                <span asp-validation-for="EMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TENDN" class="control-label"></label>
                <input asp-for="TENDN" class="form-control" />
                <span asp-validation-for="TENDN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PASS" class="control-label"></label>
                <input asp-for="PASS" class="form-control" />
                <span asp-validation-for="PASS" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISADMIN" /> @Html.DisplayNameFor(model => model.ISADMIN)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

