@using Microsoft.AspNetCore.Identity;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body style="text-align:center">
    <br />
    <br />
    <br />
    <h3>Quý khách đã mua hàng thành công !</h3>
    <br />
    <h3>Đơn hàng của bạn đã được lưu vào hệ thống.</h3>
    <br />
    <h3>Cảm ơn quý khách !</h3>
    <br />
    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Tiếp tục mua sắm</a>
</body>