@model ProjectNet.Models.Hoadon

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hoadon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IDKH" class="control-label"></label>
                <input asp-for="IDKH" class="form-control" />
                <span asp-validation-for="IDKH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NGAYDATHANG" class="control-label"></label><br />
                <input asp-for="NGAYDATHANG" class="form-control" />
                <span asp-validation-for="NGAYDATHANG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NGAYGIAOHANG" class="control-label"></label>
                <input asp-for="NGAYGIAOHANG" class="form-control" />
                <span asp-validation-for="NGAYGIAOHANG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DIACHIGIAOHANG" class="control-label"></label>
                <input asp-for="DIACHIGIAOHANG" class="form-control" />
                <span asp-validation-for="DIACHIGIAOHANG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDNV" class="control-label"></label>
                <input asp-for="IDNV" class="form-control" />
                <span asp-validation-for="IDNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDPT" class="control-label"></label>
                <input asp-for="IDPT" class="form-control" />
                <span asp-validation-for="IDPT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDTT" class="control-label"></label>
                <input asp-for="IDTT" class="form-control" />
                <span asp-validation-for="IDTT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

